{% extends 'base.html' %}
{% load extra %}

{% block title %}我的帐户{% endblock %}

{% block head %}
    <script type="text/javascript" charset="utf-8">
        $(function(){
            $('#nav-account').addClass('active');
        });
    </script>
{% endblock %}

{% block content %}
    {% if orders %}
        <div class="well">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>订单号</th>
                    <th>订购日期</th>
                    <th>水果</th>
                    <th>金额</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.date|date:"Y年n月j日" }}</td>
                        <td>{{ order|fruits }}</td>
                        <td>￥{{ order|amount|floatformat:2 }}元</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
    <div class="alert alert-info">
        <h3>您尚未产生任何订单。</h3>
    </div>
    {% endif %}
{% endblock %}