{% extends 'base.html' %}

{% block title %}注册{% endblock %}

{% block head %}
    <script src="/static/jquery.validate.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(function(){
            $('#loginform').validate({
                errorPlacement: function(error, element){
                    element.closest('.control-group').removeClass('success').addClass('error');
                    element.next().remove();
                    element.after($('<span class="help-inline">' + error.html() + '</span>'));
                },
                success: function(label){
                    $('#' + label.attr('for')).closest('.control-group').removeClass('error').addClass('success');
                }
            });
            $('.alert').alert();
        });
    </script>
{% endblock %}

{% block content %}
    <form class="form-horizontal" id="loginform" method="POST">
        <fieldset>
            <legend>注册</legend>
            {% csrf_token %}
            {% if error %}
            <div class="alert alert-block alert-error fade in">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <h4 class="alert-heading">用户名/邮箱已被使用</h4>
                <p>请换个用户名和邮箱，然后重试。</p>
            </div>
            {% endif %}
            <div class="control-group">
                <label class="control-label" for="username">用户名　</label>
                <div class="controls">
                    <input type="text" class="input-xlarge required" id="username" name="username">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">密　　码</label>
                <div class="controls">
                    <input type="password" class="input-xlarge required" id="password" name="password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password1">密码确认</label>
                <div class="controls">
                    <input type="password" class="input-xlarge required" id="password1" name="password1" equalTo="#password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="email">邮　　箱</label>
                <div class="controls">
                    <input type="email" class="input-xlarge required email" id="email" name="email">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="phone">手机号码</label>
                <div class="controls">
                    <input type="text" class="input-xlarge required" id="phone" name="phone" placeholder="填写手机号以便我们联系您">
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">注册</button>
            </div>
        </fieldset>
    </form>
{% endblock %}